Repository rustfoundation/safety-critical-rust-consortium, pull requests merged in 2025-04, with the labels that each got.

#253 [Coding Guidelines] Add agenda for 2025-04-02
  subcommittee/coding-guidelines/meetings/2025-04-02/minutes.md
Labels: coding guidelines

#249 [Coding Guidelines] Add new coding guidlines member
  subcommittee/coding-guidelines/members.md
Labels: coding guidelines, subcommittee join request

#245 [Coding Guidelines] Add notetaker role
  README.md
  docs/notetaker-role.md
Labels: documentation, coding guidelines

#247 [Tooling] Add meeting minutes for 2025-03-21
  subcommittee/tooling/meetings/2025-03-21/minutes.md
Labels: documentation, tooling

#261 London Meeting Action Item: Clarity on publicness of membership application
  .github/ISSUE_TEMPLATE/membership.yml
  README.md
Labels: liason

#259 [Liaison] Add meeting notes from 2025-03-28
  subcommittee/liaison/meetings/2025-03-28/minutes.md
Labels: liason

#257 [Coding Guidelines] Add agenda for 2025-04-09
  subcommittee/coding-guidelines/meetings/2025-04-09/minutes.md
Labels: coding guidelines

#262 [Liaison] Flesh out liaison subcommittee README and initial membership
  subcommittee/liaison/README.md
  subcommittee/liaison/members.md
Labels: liason

#271 [Coding Guidelines] Add agenda for 2025-04-16
  subcommittee/coding-guidelines/meetings/2025-04-16/minutes.md
Labels: coding guidelines

#182 Initial content for "ABI and FFI" of "Learn unsafe Rust"
  subcommittee/coding-guidelines/initiatives/safe-use-of-unsafe-guidelines/learn_unsafe_rust/src/core_unsafety/abi_and_ffi.md
Labels: coding guidelines

#285 [Coding Guidelines] Add new members
  subcommittee/coding-guidelines/members.md
Labels: coding guidelines, subcommittee join request

#296 [Coding Guidelines] Agenda 2025-04-30
  subcommittee/coding-guidelines/meetings/2025-04-30/minutes.md
Labels: coding guidelines

#298 [Coding Guidelines] Add new members 2025-04-28
  subcommittee/coding-guidelines/members.md
Labels: coding guidelines, subcommittee join request
